.register {
  background: $light;
  padding: rem(16);
  margin-top: rem(70);
}

.registerTitle {
  text-align: center;
  font-size: rem(22);
  font-weight: bold;
}

.registerForm {
  margin: rem(25);
}