.register {
  background: $light;
  padding: rem(16);
  max-width: 600px;
  margin: 0 auto;
  box-shadow: $shadow;
  border-radius: $border-radius;
}

.registerBlock {

}

.registerTitle {
  text-align: center;
  font-size: rem(22);
  font-weight: bold;
}

.registerForm {
  margin: rem(25);
}
