.companiesBlock {
  background: $light;
  padding: rem(16);
  height: 100%;
}

.companiesTitle {
  font-size: rem(22);
  font-weight: bold;
  margin-bottom: rem(16);

}

.companiesList {
  max-height: rem(270);
  overflow-y: scroll;
}

.companiesTotal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.companiesTotalVal {
  padding: rem(50);
  font-size: rem(36);
  border: 2px solid $dark;
  border-radius: 50%;
  width: rem(250);
  height: rem(250);
}