.companiesCol {
  padding: rem(20);
}

.companiesBlock {
  background: $light;
  padding: rem(16);
  height: 100%;
}

.loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.companiesLoaded {
  display: none;
  height: 100%;
}

.companiesTitle {
  font-size: rem(22);
  font-weight: bold;
  margin-bottom: rem(16);

}

.companiesList,
.companiesByCountry {
  max-height: rem(270);
  overflow-y: scroll;
}

.companiesTotal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.companiesTotalVal {
  padding: rem(50);
  font-size: rem(36);
  border: 2px solid $dark;
  border-radius: 50%;
  width: rem(250);
  height: rem(250);
}

.partnerWrap {
  display: none;
}

.companiesByCountry {
  display: none;
}

.back {
  display: none;
}

.companiesPartners {
  overflow-x: scroll;
  width: 100%;
  white-space: nowrap;
}

.partner {
  width: rem(80);
  margin-right: rem(30);

  &:last-child {
    margin-right: 0;
  }
}

.partnerLabel {
  height: rem(200);
  background: $blue;
}

.partnerPercent {
  height: rem(80);
  color: $light;
  background: $blue;
  border-radius: 50%;
  margin-bottom: rem(20);
}

.verticalText {
  transform: rotate(-90deg);
  color: $light;
  font-size: rem(20);
  font-weight: bold;
  line-height: rem(32);
  text-transform: uppercase;
}


.sortItem {
  cursor: pointer;
  font-size: rem(18);
  font-weight: normal;

  margin-right: rem(15);

  &:last-child {
    margin-right: 0;
  }
}

#companiesChart {
  width: 400px;
  height: 300px;
}

.chartWrap {
  min-height: 100%;
}

.canvasjs-chart-credit {
  display: none;
}

.back {
  cursor: pointer;
}

