<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Companies</title>

    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap" rel="stylesheet">
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href=".<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>

<body>
    <div class="page-wrap">

        <header class="container-fluid header">
            <div class="row justify-content-center">
                <h1 class="headerTitle align-self-center">ALEXANDER PELTIK</h1>
            </div>
        </header>
        <section class="container">
            <div class="row">

                <div class="col-12 col-lg-6  companiesCol">
                    <div class="companiesBlock shadow rounded d-flex flex-column">

                        <div class="loader">
                            <div class="spinner-border" role="status"></div>
                        </div>

                        <div class="companiesLoaded">
                            <div class="companiesTitle">Total Companies</div>
                            <div class="companiesTotal d-flex align-items-center justify-content-center">
                                <div class="companiesTotalVal d-flex align-items-center justify-content-center"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6  companiesCol">
                    <div class="companiesBlock shadow rounded d-flex flex-column">
                        <div class="loader">
                            <div class="spinner-border" role="status"></div>
                        </div>

                        <div class="companiesLoaded">
                            <div class="companiesTitle">List of Companies</div>
                            <ul class="list-group companiesList"></ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" partnerWrap">
                <div class="col-12 companiesCol">
                    <div class="companiesBlock shadow rounded d-flex flex-column justify-content-between">

                        <div class="companiesTitle d-flex justify-content-between align-items-center">
                            <div class="companiesPartnersTitle">Companies by Location</div>
                            <div class="sortOptions d-flex">
                                <div class="sortItem sortPercent active" data-sort-by="value" data-sort="-">Sort Percent</div>
                                <div class="sortItem sortName" data-sort-by="name" data-sort="">Sort Name</div>
                            </div>
                        </div>
                        <div class="companiesPartners"></div>

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-12 col-xl-6 companiesCol">
                    <div class="companiesBlock shadow rounded d-flex flex-column">
                        <div class="loader">
                            <div class="spinner-border" role="status"></div>
                        </div>

                        <div class="companiesLoaded ">
                            <div class="d-flex flex-column">
                                <div class="companiesTitle d-flex justify-content-between align-items-center">
                                    <div>Companies by Location</div>
                                    <div class="back">Go back</div>
                                </div>
                                <div class="chartWrap">
                                    <div id="companiesChart"></div>
                                    <div class="list-group companiesByCountry"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-6 companiesCol">
                    <div class="companiesBlock shadow rounded d-flex flex-column">
                        <div class="companiesTitle d-flex justify-content-between align-items-center">
                            <div>News</div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script defer src=".<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
</body>

</html>