<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d5a57fb223.js"></script>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href=".<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>

<body>
    <div class="page-wrap">
        <header class="containerFull header">
                <h1 class="headerTitle">ALEXANDER PELTIK</h1>
        </header>
        <section class="container">
            <div class="register">
                    <div class="registerTitle">Register</div>

                    <div class="registerForm">
                        <form id="registerForm">

                            <div class="formRow">
                                <svg class="formIcon">
                                    <use href="/assets/img/icons.svg#user"></use>
                                </svg>
                                <div class="mdl-textfield mdl-js-textfield formField">
                                    <input class="mdl-textfield__input " name="name" type="text" id="userName">
                                    <label class="mdl-textfield__label" for="userName">Name</label>
                                    <div class="mdl-textfield__error"></div>
                                </div>
                            </div>

                            <div class="formRow">
                                <svg class="formIcon">
                                    <use href="/assets/img/icons.svg#user"></use>
                                </svg>
                                <div class="mdl-textfield mdl-js-textfield formField">
                                    <input class="mdl-textfield__input " name="secondname" type="text" id="userSurname">
                                    <label class="mdl-textfield__label" for="userSurname">Surname</label>
                                    <div class="mdl-textfield__error"></div>
                                </div>
                            </div>


                            <div class="formRow">
                                <svg class="formIcon">
                                    <use href="/assets/img/icons.svg#mail"></use>
                                </svg>
                                <div class="mdl-textfield mdl-js-textfield formField">
                                    <input class="mdl-textfield__input" name="email" type="text" id="userEmail">
                                    <label class="mdl-textfield__label" for="userEmail">Email</label>
                                    <div class="mdl-textfield__error"></div>
                                </div>
                            </div>


                            <div class="formRow">
                                <svg class="formIcon">
                                    <use href="/assets/img/icons.svg#sex"></use>
                                </svg>
                                <div class="mdl-textfield mdl-js-textfield getmdl-select formField">
                                    <input type="text" value="" name="gender" class="mdl-textfield__input" id="userSex" readonly>
                                    <input type="hidden" value="" name="gender">
                                    <label for="userSex" class="mdl-textfield__label">Sex</label>
                                    <ul for="userSex" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                        <li class="mdl-menu__item" data-val="male">Male</li>
                                        <li class="mdl-menu__item" data-val="female">Female</li>
                                    </ul>
                                    <div class="mdl-textfield__error"></div>
                                </div>
                            </div>

                            <div class="formRow">
                                <svg class="formIcon">
                                    <use href="/assets/img/icons.svg#lock"></use>
                                </svg>
                                <div class="mdl-textfield mdl-js-textfield formField">
                                    <input class="mdl-textfield__input" name="pass" type="password" id="userPass">
                                    <label class="mdl-textfield__label" for="userPass">Password</label>
                                    <div class="mdl-textfield__error"></div>
                                </div>
                            </div>

                            <div class="formAgree">
                                <div class="formField">
                                    <input class="inp-cbx" name="agree" id="cbx" type="checkbox" />
                                    <label class="cbx" for="cbx">
                                        <span>
                                            <svg width="12px" height="10px" viewbox="0 0 12 10">
                                              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                            </svg>
                                        </span>
                                        <span class="chexboxTitle">Conditions of Agreement</span>
                                    </label>
                                    <div class="mdl-textfield__error"></div>
                                </div>
                            </div>

                            <div class="formFooter">
                                <div class="mdl-textfield__error"></div>
                                <button id="registerJs" type="submit" class="">Send</button>
                            </div>

                        </form>
                    </div>

                </div>
        </section>
    </div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script defer src=".<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
</body>

</html>