.header {
  background: $light;
  border-bottom: 1px solid $gray-light;
  margin-bottom: rem(70);
}

.headerTitle {
  font-size: rem(30);
  padding: rem(15) 0;
  text-align: center;
  font-family: $fontFamilyBase;
}